@import '@wordpress/block-library/build-style/style.css';
@import '@wordpress/block-library/build-style/theme.css';

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}
